.controls-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  z-index: 1000;
  transition: transform .15s ease-in-out;
  padding-bottom: 1rem;
  
}

.controls {
  width: 100%;
  max-width: 280px;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active {
  transform: translateY(0%);
}
.inactive {
  transform: translateY(100%)
}